{{#with t}}
<form id="{{idPrefix}}{{id}}" action="{{action}}" enctype="multipart/form-data" method="{{method}}">
{{#each getChildren}}
    {{#unless isRendered}}
        {{{html}}}
    {{/unless}}
{{/each}}
<input type="submit" value="{{submit}}" class="btn primary" />
</form>
{{/with}}
