{{#with t}}
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container">
    {{#if title}}<label for="{{idPrefix}}{{id}}">{{title}}:</label>{{/if}}
    <div class="input">
        <input type="password" name="{{name}}" id="{{idPrefix}}{{id}}" value="{{value}}"{{#if max}} maxlength="{{max}}"{{/if}}{{#if readonly}} readonly="readonly"{{/if}}{{#if disabled}} disabled="disabled"{{/if}}class="password{{#if required}} required{{/if}}"{{#if min}} minlength="{{min}}"{{/if}}{{#if equal}} equalTo="{{equl}}" {{/if}}/>
    </div>
</div>
{{/with}}
